/* @font-face {
    font-family: CalibreRegular;
    src: url('@/assets/fonts/CalibreRegular.ttf');
} */

/* @font-face {
    font-family: SFMonoRegular;
    src: url('@/assets/fonts/SFMonoRegular.woff');
} */

@font-face {
    font-family: CalibreRegular;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("CalibreRegular"), url('@/assets/fonts/CalibreRegular.ttf'), url('@/assets/fonts/CalibreRegular.ttf')  format("ttf");
}

@font-face {
    font-family: SFMonoRegular;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: local("SFMonoRegular"), url('@/assets/fonts/SFMonoRegular.woff'), url('@/assets/fonts/SFMonoRegular.woff')  format("woff");
}

* {
    font-family: CalibreRegular;
    font-size: 20px;
    line-height: 1.3;

    /* FireFox */
    scrollbar-width: thin;
    scrollbar-color: #495670 transparent;
}

body {
    background-color: #0a192f;
    color: #a8b2d1;
}

/* Internet Explorer 11 */
*::-ms-scrollbar {
    scrollbar-color: #495670 transparent;
}

/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #495670;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}