@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
/* for element tags */
}

@layer base {
/* for custom classes */
    .horizontal-tb {
        writing-mode: horizontal-tb;
    }
    .vertical-rl {
        writing-mode: vertical-rl;
    }
    .vertical-lr {
        writing-mode: vertical-lr;
    }

    .text-main {
        color: #eb4432;
    }

    .bg-main {
        background-color: #0a192f;
    }
}

@layer base {
    
}